/* .div{
    z-index: 0;
} */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 8px 16px;
    gap: 8px;
    height: 40px;
    width: 128px;
    border: none;
    /* background: #056bfa27; */
    border-radius: 20px;
    cursor: pointer;
    margin-right: 20px;
    text-decoration: none;
  }
  .buttonPlus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 8px 16px;
    gap: 8px;
    height: 40px;
    width: 128px;
    border: none;
    background: darkblue ;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 20px;
    text-decoration: none;
  }
  
  .lable {
    margin-top: 1px;
    font-size: 14px;
    line-height: 22px;
    color: #056DFA;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
  .button-admin{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 8px 16px;
    gap: 8px;
    height: 40px;
    width: 128px;
    border: none;
    background: #052b5f27;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 20px;
    text-decoration: none;

  }
  .button:hover {
    background: #056bfa49;
  }
  
  .button:hover .svg-icon {
    animation: spin 1s linear infinite;
  }
  .buttonPlus:hover {
    background: #056bfa49;
  }
  
  .buttonPlus:hover .svg-icon {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-8deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(8deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }